.header-container {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #030311;
  box-sizing: border-box;

  .header {
    max-width: 1500px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(7, 46, 33);
    display: flex;
    justify-content: space-between;

    .header-left-section {
      background-color: antiquewhite;
      height: 100%;
    }

    .header-search-section {
      background-color: azure;
      height: 100%;
    }

    .header-right-section {
      background-color: bisque;
      height: 100%;
    }
  }
}